[Unit]
Description=Simple Web Service

[Service]
User=usertwist
Group=usertwist
ExecStart=/usr/local/bin/usertwist

[Install]
WantedBy=multi-user.target
